<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="message-details">
        <h1>Message Details</h1>
        <p><strong>Username:</strong> <%= msg.user %></p>
        <p><strong>Text:</strong> <%= msg.text %></p>
        <p><strong>Date Added:</strong> <%= msg.dateAdded %></p>
        <p><strong>ID:</strong> <%= msg.id %></p>
      </div>
    </main>
  </body>
</html>
